.contact-content {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #3b3b3b;
}

.contact-content > div {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 2rem;
  line-height: 1.5;
}

.contact-data {
  align-items: center;
  font-size: 1rem;
}

address {
  text-align: center;
  line-height: 2;
}

.contact-form {
  max-width: 400px;
}

.contact-form > * {
  margin-bottom: 1vh;
  padding: 0.5em;
  font-size: 0.8rem;
  border: none;
}

::placeholder {
  font-family: 'Hellix Medium';
  color: #f57d58;
  opacity: 0.8;
}

@media (min-width: 800px) {
  .contact-data {
    font-size: 1.2rem;
  }
  .contact-form > * {
    font-size: 1rem;
  }
}

nav {
  margin-top: 1rem;
  align-self: flex-end;
  cursor: pointer;
}

nav > ul {
  display: flex;
  font-size: 1rem;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: 800px) {
  nav > ul {
    font-size: 1.8rem;
  }
}

.nav-menu > * + * {
  margin-left: 2.5vh;
}

li {
  transition: var(--transition);
}

li:hover, li:focus {
  transform: scale(1.2);
  font-weight: 600;
  color: #f57d58;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #3b3b3b;
  transition: var(--transition);
  visibility: hidden;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #f57d58;
  cursor: pointer;
  transition: var(--transition);
}

.close-btn:hover {
  color: white;
  transform: scale(1.3);
}

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: var(--transition);
  cursor: pointer;
}

.contact-form-btn {
  background-color: #f57d58;
  border-radius: 3px;
  width: 8em;
  margin: 0 auto;
  color: white;
}

.video-btn {
  position: relative;
  width: 7rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.video-span {
  padding-left: 0;
  color: #383636;
}

.video-switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: #f57d58;
}

.video-btn span {
  display: inline-block;
  font-size: 0.9rem;
  text-transform: capitalize;
}

span.pause {
  padding-left: 1rem;
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f57d58;
  border-radius: 5px;
}

.slide .video-switch {
  left: 50%;
}

.services-content {
  flex-direction: column;
  justify-content: center;
  background-color: #3b3b3b;
}

@font-face {
  font-family: Hellix;
  src: url(../fonts/Hellix-Regular.otf);
}

:root {
  --transition: all 0.3s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

h1, h1, h3 {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.homepage-logo {
  max-width: 80%;
}

body, a {
  font-family: 'Hellix Thin', sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

header {
  min-height: 100vh;
  position: relative;
}

.video-container {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

h1 {
  color: white;
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 200;
}

header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(59, 59, 59, 0.5);
  z-index: -1;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  transition: 2000ms;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 95vw;
  max-width: 1400px;
  margin: 0 auto;
}

.homepage-content {
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}

.homepage-lessvisible {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */