.contact-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $base-grey;
}

.contact-content > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40%;
    margin-bottom: 2rem;
}

.contact-data {
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
}

address {
    margin-bottom: 1rem;
}

.contact-staff {
    background-color: rgba($base-coral, 0.4);
    padding: 0.5em 1em;
    margin-bottom: 1em;

}

.contact-form {
    max-width: 600px;
    padding: 0 5vw;
}

.contact-form > * {
    margin-bottom: 1vh;
    padding: 0.5em;
    font-size: 0.8rem;
    border: none;
}

::placeholder {
    font-family: 'Hellix Thin', sans-serif;
    color: $base-coral;
    opacity: 0.8;
}

@media (min-width: 800px) {
    .contact-data {
        font-size: 1.2rem;
    }

    .contact-form > * {
        font-size: 1rem;
    }

    .contact-content > * {
        flex-grow: 0;
    }
}