.contact-content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $base-grey;
}

.contact-content > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 40%;
    margin: 1rem;

}

.contact-data {
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.5;
}

address {
    text-align: center;
}

.contact-form {
    max-width: 400px;
}

.contact-form > * {
    margin-bottom: 1vh;
    padding: 0.5em;
    font-size: 0.8rem;
    border: none;
}

::placeholder {
    font-family: 'Hellix Medium';
    color: $base-coral;
    opacity: 0.8;
}

@media (min-width: 800px) {
    .contact-data {
        font-size: 1.2rem;
    }

    .contact-form > * {
        font-size: 1rem;
    }

    .contact-content > div {
        flex-grow: 0;
    }
}