.contact-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contact-content > * {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 1rem;
    max-width: 40%;
    min-width: 280px;
}

.contact-data {
    align-items: center;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: center;
}

.contact-logo {
    max-width: 85%;
}

.contact-staff {
    background-color: rgba($base-coral, 0.5);
    padding: 0.8em 1.2em;
    margin-bottom: 0.8em;
}

.contact-staff p:nth-child(2) {
    margin-bottom: 0.5em;
}

address {
    margin-bottom: 0.8rem;
}

.contact-form {
    max-width: 600px;
    margin-bottom: 5vh;
}

.contact-form > * {
    line-height: 0.8;
    margin-bottom: 1vh;
    padding: 0.2em 0.4em;
    border: none;
}

::placeholder {
    font-family: inherit;
    font-size: 0.8rem;
    color: $base-coral;
    opacity: 0.8;
}

@media (min-width: 1000px) {
    .contact-data {
        font-size: 1.2rem;
    }

    .contact-form > * {
        font-size: 1.2rem;
    }

    .contact-content > * {
        flex-grow: 1;
    }

    ::placeholder {
        font-size: 1rem;
    }
}