.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba($base-grey, 1);
  visibility: hidden;
  z-index: -10;
}

.open-modal {
  visibility: visible;
  z-index: 10;
}

@media (min-width: 800px) {
  .modal {
    align-items: center;
    height: 100vh;
  }
  
}