.modal {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: rgba($base-grey, 1);
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
    display: flex;
    overflow-y: auto;
}

.open-modal {
    visibility: visible;
    z-index: 10;
  }

.close-btn {
    position: absolute;
    top: 1vh;
    right: 1vh;
    font-size: 1.2rem;
    background: transparent;
    border-color: transparent;
    color: $base-coral;
    cursor: pointer;
    transition: var(--transition);
  }

  .close-btn:hover {
    color: white;
    transform: scale(1.3);
  }

  @media (min-width: 800px) {
    .modal {
      align-items: center;
      height: 100vh;
    }
    .close-btn {
      font-size: 2rem;
      color: $base-coral;
    }
  }