nav {
    margin-top: 1rem;
    align-self: flex-end;
    cursor: pointer;
}

nav > ul {
    display: flex;
    font-size: 1rem;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 800px) {
    nav > ul {
        font-size: 1.8rem;
    } 

}

.nav-menu > * + * {
    margin-left: 0.8em;
}

li {
    transition: var(--transition);
}

li:hover, li:focus {
    transform: scale(1.2);
    font-weight: 600;
    color: $base-coral;
}

