.portfolio {
    background-color: #3b3b3b;
    padding-bottom: 5vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}

.portfolio-pics {
    display: flex;
    flex-direction: column;
}

.portfolio__pic {
    flex-basis: 1;
    width: 70vw;
    position: relative;
    transition: opacity ease-out 250ms;
    margin: 1vmax;
    text-align: center;
    opacity: 0.9;

    img {
        width: 100%;
        opacity: 0.7;
    }

    .portfolio-pic-address {
        position: absolute;
        text-transform: uppercase;
        text-align: center;
        font-size: calc(var(--portfolio-pic)*0.075);
        top: 50%;
        left: 50%;
        transform: translate(-40%, -35%);
        color: white;
        opacity: 1;
        margin: 0;
        display: inline-block;
        //background-color: lawngreen;
    }

}

.portfolio__pic:hover {
    img {
        opacity: 0.2;
    }

    p {
        opacity: 1;
    }
}

@media (min-width: 600px) {
    .portfolio-pics {
        flex-direction: row;
    }
    .portfolio__pic {
        width: 35vw;
    }
}

@media (min-width: 1200px) {
    .portfolio__pic {
        width: 35vw;

        p {
            opacity: 0;
        }
    }
}