.przasnyska {
    header {
        margin-bottom: 2.5vmax;
    }

    h1 {
        font-size: 2em;
    }
}

.przasnyska-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.przasnyska-demos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
        width: 40%;
        max-width: 450px;
        display: inline-block;
        margin: 1vmax;
    }
}

@media (min-width: 700px) {
    .przasnyska {
        h1 {
            font-size: 4em;
        }
    }
}