section {
  padding: 2vmin;
  background-color: $base-grey;
}

.section--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 230px;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: rgba($base-coral, 0.7);
  cursor: pointer;
  transition: var(--transition);

  span {
    font-size: 3rem;
    line-height: 0.5;
  }
}

.close-btn:hover {
  color: rgba($base-coral, 1);
  transform: scale(1.1);
}

.section__title {
  font-size: 3rem;
}

@media (min-width: 800px) {
  .logo {
    max-width: 400px;
  }

  .close-btn span {
    font-size: 6rem;
  }

  .section__title {
      font-size: 5rem;
      max-width: 450px;
  }
}