.services {
    margin: 5vw 2vw;
}

.services__intro {
    margin-bottom: 4vh;

    * {
        margin-bottom: 1vw;
    }
}

.services-logo-subtitle {
    text-transform: uppercase;
    font-family: 'Hellix Thin';
    font-size: 3vw;
    display: inline-block;
}

.services__cards {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.services__cards > * + * {
    margin-bottom: 3vw;
}

.services--card {
    flex-basis: 100%;
    min-width: 220px;
    margin-bottom: 4vw;
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: $base-grey;
    padding: 1.8em;
    box-shadow: 10px 10px 10px 1px $base-grey;

    img {
        margin-bottom: 1em;
        width: 2em;
    }
}

@media (min-width: 600px) {
    .services {
        margin: 7vw auto;
        max-width: 95%;
    }
}

@media (min-width: 900px) {
    .services {
        max-width: 70%;
    }

    .services__intro {
        margin-bottom: 10vh;
    }

    .services__cards {
        flex-direction: row;
    }

    .services__cards > * + * {
        margin-left: 2vw;
    }
    
    .services--card {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    .services--card {
        font-size: 1.2rem;
    }
}