.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
}

.contact-form-btn {
    background-color: $base-coral;
    border-radius: 3px;
    width: 8em;
    margin: 0 auto;
    color: white;
}

.video-btn {
    align-self: flex-end;
    position: relative;
    width: 4.5rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($base-grey, 0.8);
}

.video-span {
    padding-left: 0;
    display: inline-block;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
}

.video-switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    //background: $base-coral;
    background: rgba(255, 255, 255, 0.781);
}

span.pause {
    padding-left: 1rem;
}

.slide .video-switch {
    left: 50%;
}