.btn {
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    transition: var(--transition);
    cursor: pointer;
}

.video-btn {
    text-transform: lowercase;
    color: rgba($base-coral, 0.8);
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgba(rgb(59, 56, 56), 0);
    padding: 0.5em 1em;
    transition: 1000ms;

    span {
        margin: 0 0.2em;
        font-size: 1.2rem;
    }
}

.video-btn-inactive {
    color: rgba(white, 0.3);
    font-size: 0.8rem;
    cursor: default;
}