.team__intro {
    display: flex;
    flex-direction: column;
    padding: 0 3vw 5vmax;
    max-width: 900px;

    p {
        margin-bottom: 0.5em;
    }
    // background-color: pink;
}

.intro__text {
    //background-color: blue;
    font-size: 1rem;
    font-family: 'Hellix Thin';
}

.team-members {
    display: flex;
    flex-direction: column;
    padding: 0 3vw 2vmax;
}

.team-member__card {
    max-width: 580px;
    margin-bottom: 10vmin;

    img {
        width: 150px;
        float: left;
        margin: 0 1em 1em 0
    }
}

.team-member__info {
    font-size: 0.8rem;
    //background-color: pink;

    span {
        text-transform: uppercase;
    }

    mail {
        display: inline-block;
        margin-bottom: 1em;
    }

    hr {
        width: 40%;
        border-bottom: 0.5px solid white;
        margin-left: 0;
    }
}

.team-member__story {
    margin-bottom: 6em;
}

.team-member-position {
    font-size: 0.7rem;
}

.team-member__label {
    margin-bottom: 0.75em;
}

@media (min-width: 600px) {
    .team-member__card {
        display: flex;
        align-items: flex-start;
    }

    .team-member__story {
        margin-bottom: 3em;
    }

    .team-member__info {
        font-size: 1rem;
    }

    .team-member-position {
        font-size: 0.9rem;
    }
}

@media (min-width: 900px) {
    .intro__text {
        font-size: 1.2rem;
    }

    .team-members {
        flex-direction: row;

        & > *+* {
            margin-left: 5vw;
        }
        
    }

    .team-member__card {
        flex-basis: 100%;

        img {
        width: 200px;
        //margin: 0 2em 2em 0;
    }}
}

@media (min-width: 1200px) {
    .intro__text {
        font-size: 1.5rem;
    }

    .team-member__card img {
        width: 220px;
    }

    .team-member__info {
        font-size: 1.2rem;
    }

    .team-member-position {
        font-size: 1.1rem;
    }
}