.team-content {
    //background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__intro {
    display: flex;
    flex-direction: column;
    padding: 0 3vw 5vmax;
    max-width: 900px;
    //background-color: cyan;

    p {
        margin-bottom: 0.5em;
    }
}

.intro__text {
    //background-color: blue;
    font-size: 1rem;
    font-family: 'Hellix Thin';
}

.team-members {
    display: flex;
    flex-direction: column;
    padding: 0 3vw 2vmax;
}

.team-member__card {
    display: flex;
    margin-bottom: 10vmin;
    //background-color: rgb(138, 69, 80);

    img {
        width: 140px;
        float: left;
        margin: 0 1em 1em 0
    }
}

.team-member__info {
    font-size: 0.8rem;
    padding: 1em 0;
    flex-grow: 2;
    //background-color: green;

    .span-last-name {
        text-transform: uppercase;
    }

    mail {
        display: inline-block;
        margin-bottom: 1.5em;
    }

    hr {
        width: 150px;
        max-width: 50%;
        border-bottom: 0.5px solid white;
        margin-left: 0;
    }
}

.team-member__story {
    margin-bottom: 6em;
}

.team-member-position {
    font-size: 0.7rem;
}

.team-member__label {
    margin-bottom: 0.75em;
}

@media (min-width: 600px) {
    .team-member__story {
        margin-bottom: 3em;
    }

    .team-member__info {
        font-size: 1rem;
    }

    mail {
        word-break: normal;
    }

    .team-member-position {
        font-size: 0.9rem;
    }
}

@media (min-width: 900px) {
    .intro__text {
        font-size: 1.2rem;
    }

    .team-members {
        flex-direction: row;

        & > *+* {
            margin-left: 5vw;
        }
        
    }

    .team-member__card {
        min-width: 400px;

        img {
        width: 200px;
        //margin: 0 2em 2em 0;
    }}
}

@media (min-width: 1200px) {
    .intro__text {
        font-size: 1.5rem;
    }

    .team-member__card {
        min-width: 500px;

        img {
            width: 220px;
        }
    }

    .team-member__info {
        font-size: 1.2rem;
    }

    .team-member-position {
        font-size: 1.1rem;
    }
}