@import 'colors';
@import 'contact';
@import 'nav';
@import 'modal';
@import 'switch-btn';
@import 'services';
@import 'section';
@import 'team';

@font-face {
  font-family: Hellix;
  src: url(../fonts);
}

:root {
    --transition: all 0.3s linear;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  font-weight: 100;
}

img {
    display: block;
    width: 100%;
}

h1, h1, h3 {
    display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.homepage-logo {
    max-width: 80%;
}

body, a {
    font-family: 'Hellix Thin', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

button {
    display: block;
}

.home {
    min-height: 100vh;
    //position: relative;
}

.video-container {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

h1 {
    color: white;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 200;
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($base-grey, 0.5);
    //background-image: var(--gradient);
    z-index: -1;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: 2000ms;
}

.hide-preloader {
    z-index: -999;
    visibility: hidden;
}

.flex-container {
    display: flex;
    align-items: center;
    width: 95vw;
    max-width: 1600px;
    margin: 0 auto;
}

.homepage-content {
    flex-direction: column;
    justify-content: space-between;
    min-height: 90vh;
}

